@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==================================== */
           /* HTML AND BODY */
/* ==================================== */

html,body{
  font-size: 10px;
}


@media (width < 1520px) {
  html,body{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  html,body{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  html,body{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  html,body{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  html,body{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  html,body{
      font-size: 7px;
  }
}
@media (width < 920px) {
  html,body{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  html,body{
      font-size: 6px;
  }
}
@media (width < 720px) {
  html,body{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  html,body{
      font-size: 5px;
      & .nav_item,.search-section{
          display: none;
      }
      & .menu{
        display: block;
      }
  }
}
@media (width < 520px) {
  html,body{
      font-size: 4.5px;
  }
}
@media (width < 420px) {
  html,body{
      font-size: 4px;
  }
}
@media (width < 320px) {
  html,body{
      font-size: 4px;
  }
}



/* ==================================== */
              /* HEADER */
/* ==================================== */



.header{
  font-size: 10px;
}



:hover.nav_item{
  border-bottom: 0.025em solid #000;
  padding-bottom: 0.1em;
}

@media (width < 1520px) {
  .header{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .header{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .header{
      font-size: 8px;
  }
}
@media (width < 1220px) {
  .header{
      font-size: 7.5px;
  }
}
@media (width < 1120px) {
  .header{
      font-size: 7px;
  }
}
@media (width < 1020px) {
  .header{
      font-size: 6px;
  }
}
@media (width < 920px) {
  .header{
      font-size: 5px;
  }
}
@media (width < 820px) {
  .header{
      font-size: 4.5px;
  }
}
@media (width < 720px) {
  .header{
      font-size: 4px;
  }
}
@media (width < 640px) {
  .header{
      font-size: 5.5px;
      & .nav_item,.search-section,.banner{
          display: none;
      }
      & .menu{
        display: flex;
      }
  }
}
@media (width < 520px) {
  .header{
      font-size: 5px;
  }
}
@media (width < 420px) {
  .header{
      font-size: 4.5px;
  }
}
@media (width < 320px) {
  .header{
      font-size: 4px;
  }
}


/* ==================================== */
              /* FOOTER */
/* ==================================== */

.footer{
  font-size: 10px;
}

@media (width < 1520px) {
  .footer{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .footer{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .footer{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .footer{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .footer{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .footer{
      font-size: 6.5px;
  }
}
@media (width < 920px) {
  .footer{
      font-size: 6px;
  }
}
@media (width < 820px) {
  .footer{
      font-size: 5px;
  }
}
@media (width < 720px) {
  .footer{
      font-size: 4.5px;
  }
}
@media (width < 640px) {
  .footer{
      font-size: 4px;
  }
}
@media (width < 520px) {
  .footer{
      font-size: 6px;
      display: flex;
      flex-direction: column;
      gap: 4em;
      & .footer-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
  }
}
@media (width < 420px) {
  .footer{
      font-size: 5.5px;
  }
}
@media (width < 320px) {
  .footer{
      font-size: 5px;
  }
}

/* ==================================== */
              /* MAIN */
/* ==================================== */

.main{
  font-size: 10px;
}

/* =========================== */
      /* HERO SECTION */
/* =========================== */

.hero-section{
  font-size: 10px;
}

@media (width < 1520px) {
  .hero-section{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .hero-section{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .hero-section{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .hero-section{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .hero-section{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .hero-section{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .hero-section{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .hero-section{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .hero-section{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .hero-section{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .hero-section{
      font-size: 6.5px;
      & .content{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50% ,-50%);
        & h2,p{
          text-align: center;
        }
      }
  }
}
@media (width < 420px) {
  .hero-section{
      font-size: 5px;
  }
}
@media (width < 320px) {
  .hero-section{
      font-size: 4px;
  }
}



/* =========================== */
  /* EDITOR PICTURE SECTION */
/* =========================== */

.editor-pic-section{
  font-size: 10px;
}

@media (width < 1520px) {
  .editor-pic-section{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .editor-pic-section{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .editor-pic-section{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .editor-pic-section{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .editor-pic-section{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .editor-pic-section{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .editor-pic-section{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .editor-pic-section{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .editor-pic-section{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .editor-pic-section{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .editor-pic-section{
      font-size: 4.5px;
      & .picture-container{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 2em;
          & div{
            width: 100%;
            height: 100%;
          }
      }
  }
}
@media (width < 420px) {
  .editor-pic-section{
      font-size: 4px;
  }
}
@media (width < 320px) {
  .editor-pic-section{
      font-size: 4px;
  }
}


/* =========================== */
      /* PRODUCT SECTION */
/* =========================== */

.product-section{
  font-size: 10px;
}

@media (width < 1520px) {
  .product-section{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .product-section{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .product-section{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .product-section{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .product-section{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .product-section{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .product-section{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .product-section{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .product-section{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .product-section{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .product-section{
      font-size: 4.5px;
  }
}
@media (width < 420px) {
  .product-section{
      font-size: 4px;
  }
}
@media (width < 320px) {
  .product-section{
      font-size: 4px;
  }
}



/* =========================== */
      /* OFFERS SECTION */
/* =========================== */

.offers-section{
  font-size: 10px;
}

@media (width < 1520px) {
  .offers-section{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .offers-section{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .offers-section{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .offers-section{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .offers-section{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .offers-section{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .offers-section{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .offers-section{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .offers-section{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .offers-section{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .offers-section{
      font-size: 6.5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0;
      & .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1,p{
          text-align: center;
        }
      }
      & .right-side{
        margin-top: 10em;
      }
  }
}
@media (width < 420px) {
  .offers-section{
      font-size: 5px;
  }
}
@media (width < 320px) {
  .offers-section{
      font-size: 4px;
  }
}


/* =========================== */
    /* ADDVERSTISE SECTION */
/* =========================== */

.addvertise-section{
  font-size: 10px;
}

@media (width < 1520px) {
  .addvertise-section{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
.addvertise-section{
      font-size: 9px;
  }
}
@media (width < 1320px) {
.addvertise-section{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
.addvertise-section{
      font-size: 8px;
  }
}
@media (width < 1120px) {
.addvertise-section{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
.addvertise-section{
      font-size: 7px;
  }
}
@media (width < 920px) {
.addvertise-section{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
.addvertise-section{
      font-size: 6px;
  }
}
@media (width < 720px) {
.addvertise-section{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
.addvertise-section{
      font-size: 5px;
  }
}
@media (width < 520px) {
.addvertise-section{
      font-size: 6.5px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      & .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & h1,p{
          text-align: center;
        }
      }
}
}
@media (width < 420px) {
  .addvertise-section{
    font-size: 5px;
}
}
@media (width < 320px) {
.addvertise-section{
      font-size: 4px;
  }
}



/* =========================== */
    /* FEATURES SECTION */
/* =========================== */

.features-section{
  font-size: 10px;
}

@media (width < 1520px) {
 .features-section{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
 .features-section{
      font-size: 9px;
  }
}
@media (width < 1320px) {
 .features-section{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
 .features-section{
      font-size: 8px;
  }
}
@media (width < 1120px) {
 .features-section{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
 .features-section{
      font-size: 7px;
  }
}
@media (width < 920px) {
 .features-section{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
 .features-section{
      font-size: 6px;
  }
}
@media (width < 720px) {
 .features-section{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
 .features-section{
      font-size: 5px;
  }
}
@media (width < 520px) {
 .features-section{
      font-size: 4.5px;
      & .features-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        & .features-item{
          width: 300px;
          & div{
            width: 100%;
          }
        }
      }
  }
}
@media (width < 420px) {
  .features-section{
    font-size: 4px;
    & .features-container{
      display: flex;
      flex-direction: column;
      gap: 20px;
      & .features-item{
        width: 250px;
        & div{
          width: 100%;
        }
      }
    }
}
}
@media (width < 320px) {
 .features-section{
      font-size: 4px;
  }
}

/* ==================================== */
            /* PRODUCT PAGE */
/* ==================================== */

.product-page{
  font-size: 10px;
}


@media (width < 1520px) {
  .product-page{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .product-page{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .product-page{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .product-page{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .product-page{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .product-page{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .product-page{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .product-page{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .product-page{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .product-page{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .product-page{
      font-size: 6px;
      & .product-option{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

      }
  }
}
@media (width < 420px) {
  .product-page{
      font-size: 5.5px;
  }
}
@media (width < 320px) {
  .product-page{
      font-size: 5px;
  }
}


/* ==================================== */
          /* PRODUCT DETAIL */
/* ==================================== */

.product-detail{
  font-size: 10px;
}


@media (width < 1520px) {
  .product-detail{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .product-detail{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .product-detail{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .product-detail{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .product-detail{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .product-detail{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .product-detail{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .product-detail{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .product-detail{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .product-detail{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .product-detail{
      font-size: 6px;
      & .section-01{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      & .section-02{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3em;
        & div{
          width: 100%;
          & div{
            & p{
              width: 100%;
            }
          }
        }
      }
      & .banner img{
        width: 90%;
        object-fit: cover;
      }
  }
}
@media (width < 420px) {
  .product-detail{
      font-size: 5.5px;
  }
}
@media (width < 320px) {
  .product-detail{
      font-size: 5px;
  }
}

/* ==================================== */
          /* PRICING PAGE */
/* ==================================== */

.pricing-page{
  font-size: 10px;
}


@media (width < 1520px) {
  .product-page{
      font-size: 9.5px;
  }
}
@media (width < 1420px) {
  .product-page{
      font-size: 9px;
  }
}
@media (width < 1320px) {
  .product-page{
      font-size: 8.5px;
  }
}
@media (width < 1220px) {
  .product-page{
      font-size: 8px;
  }
}
@media (width < 1120px) {
  .product-page{
      font-size: 7.5px;
  }
}
@media (width < 1020px) {
  .product-page{
      font-size: 7px;
  }
}
@media (width < 920px) {
  .product-page{
      font-size: 6.5px;
  }
}
@media (width < 820px) {
  .product-page{
      font-size: 6px;
  }
}
@media (width < 720px) {
  .product-page{
      font-size: 5.5px;
  }
}
@media (width < 640px) {
  .product-page{
      font-size: 5px;
  }
}
@media (width < 520px) {
  .product-page{
      font-size: 6px;
      & .section-01{
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      & .section-02{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3em;
        & div{
          width: 100%;
          & div{
            & p{
              width: 100%;
            }
          }
        }
      }
      & .banner img{
        width: 90%;
        object-fit: cover;
      }
  }
}
@media (width < 420px) {
  .product-page{
      font-size: 5.5px;
  }
}
@media (width < 320px) {
  .product-page{
      font-size: 5px;
  }
}
